{% load static %}

<!DOCTYPE HTML>

<html>
	<head>
	<link rel="icon" href="{% static '/images/edupak/icon3.png' %}" style="width: 50%">
		<title>Board Results</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <link rel="stylesheet" href="{% static 'css/custom-written.css' %}" />
	</head>
    
    

	<body class="is-preload">

		<!-- Header -->
			<header id="header">
               <a class="logo" href="/home" style="font-family: Times New Roman, Times, serif; font-size: 22px">Pak Result.com</a>
				<nav>
					<a href="#menu" style="font-size: 18px">Menu</a>
				</nav>
			</header>

        
        
		<!-- Nav -->
			 {% include "navbar.html" %}
		<!-- Heading -->
			<div id="heading" >
				<h1 class="icon fa-trophy" style="font-family: serif"> Board Results</h1>
			</div>

        
        
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content" style="background-color: #f8f8f8">
						<header>
                            <h2 style="text-align: center">Select Your Respective Board</h2>
                            <hr>
                        </header>
                        
                        
                       <div class="highlights">
                           
                           <!--Column 1-->
                           <div class="col-6 col-12-small">
                               <ol>
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/lahore"><img src="{% static '/images/boardimages/lahore-bise.gif' %}"></a>
                                                   <a href="/boardresult/lahore"><h3><b>Lahore Board</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                                   
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/multan"><img src="{% static 'images/boardimages/multan-bise.png'%}"></a>
                                                   <a href="/boardresult/multan"><h3><b>Multan Board</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                                   
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/faisalabad"><img src="{% static 'images/boardimages/faisalabad-bise.png'%}"></a>
                                                   <a href="/boardresult/faisalabad"><h3><b>Faisalabad Board</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                                   
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/abbottabad"><img src="{% static 'images/boardimages/abbottabad-bise.png' %}"></a>
                                                   <a href="/boardresult/abbottabad"><h3><b>Abbottabad Board</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                                   
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/sargodha"><img src="{% static 'images/boardimages/sargoda-bise.gif' %}"></a>
                                                   <a href="/boardresult/sargodha"><h3><b>Sargodha Board</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                                   
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/sahiwal"><img src="{% static 'images/boardimages/sahiwal-bise.gif' %}"></a>
                                                   <a href="/boardresult/sahiwal"><h3><b>Sahiwal Board</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                                   
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/bahawalpur"><img src="{% static 'images/boardimages/bahawalpur-bise.png' %}"></a>
                                                   <a href="/boardresult/bahawalpur"><h3><b>Bahawalpur</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                                   
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/aghakhan"><img src="{% static 'images/boardimages/aghakhan-bise.png' %}"></a>
                                                   <a href="/boardresult/aghakhan"><h3><b>AghaKhan Board</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                                   
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/pbte"><img src="{% static 'images/boardimages/pbte-bise.png' %}"></a>
                                                   <a href="/boardresult/pbte"><h3><b>PBTE Board</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                                   
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/ajk"><img src="{% static 'images/boardimages/ajk-bise.png' %}"></a>
                                                   <a href="/boardresult/ajk"><h3><b>AJK Board</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                                   
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/fde"><img src="{% static 'images/boardimages/fde.gif' %}"></a>
                                                   <a href="/boardresult/fde"><h3><b>FDE</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                               </ol>
                           </div>
                            
                           <!--Column 2-->
										<div class="col-6 col-12-small">
                               <ol>
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/federal"><img src="{% static 'images/boardimages/federal-bise.png' %}"></a>
                                                   <a href="/boardresult/federal"><h3><b>Federal Board</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                                   
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/peshawar"><img src="{% static 'images/boardimages/peshawar-bise.png' %}"></a>
                                                   <a href="/boardresult/peshawar"><h3><b>Peshawar Board</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                                   
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/gujranwala"><img src="{% static 'images/boardimages/gugranwala-bise.png' %}"></a>
                                                   <a href="/boardresult/gujranwala"><h3><b>Gujranwala Board</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                                   
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/mardan"><img src="{% static 'images/boardimages/mardan-bise.png' %}"></a>
                                                   <a href="/boardresult/mardan"><h3><b>Mardan Board</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                                   
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/bannu"><img src="{% static 'images/boardimages/banu-bise.png' %}"></a>
                                                   <a href="/boardresult/bannu"><h3><b>Bannu Board</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                                   
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/swat"><img src="{% static 'images/boardimages/swat-bise.gif' %}"></a>
                                                   <a href="/boardresult/swat"><h3><b>Swat Board</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                                   
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/dgkhan"><img src="{% static 'images/boardimages/dgkhan-bise.png' %}"></a>
                                                   <a href="/boardresult/dgkhan"><h3><b>DG Khan Board</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                                   
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/malakand"><img src="{% static 'images/boardimages/malakand-bise.png' %}"></a>
                                                   <a href="/boardresult/malakand"><h3><b>Malakand Board</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                                   
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/kpbte"><img src="{% static 'images/boardimages/kpbte-bise.png' %}"></a>
                                                   <a href="/boardresult/kpbte"><h3><b>KPBTE Board</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                                   
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/baec"><img src="{% static 'images/boardimages/baec.gif' %}"></a>
                                                   <a href="/boardresult/baec"><h3><b>BAEC Board</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                                   
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/doeb"><img src="{% static 'images/boardimages/doeb.gif' %}"></a>
                                                   <a href="/boardresult/doeb"><h3><b>DOEB</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                               </ol>
                           </div>
                           
                           <!--Column 3-->
                                        <div class="col-6 col-12-small">
                               <ol>
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/karachi"><img src="{% static 'images/boardimages/bsek-karachi.gif' %}"></a>
                                                   <a href="/boardresult/karachi"><h3><b>Karachi Board</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                                   
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/rawalpindi"><img src="{% static 'images/boardimages/rawalpindi-bise.png' %}"></a>
                                                   <a href="/boardresult/rawalpindi"><h3><b>Rawalpindi Board</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                                   
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/hyderabad"><img src="{% static 'images/boardimages/hyderabad-bise.gif' %}"></a>
                                                   <a href="/boardresult/hyderabad"><h3><b>Hyderabad <br>Board</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                                   
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/sukkur"><img src="{% static 'images/boardimages/sukkur-bise.png' %}"></a>
                                                   <a href="/boardresult/sukkur"><h3><b>Sukkur Board</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                                   
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/larkana"><img src="{% static 'images/boardimages/larkana-bise.png' %}"></a>
                                                   <a href="/boardresult/larkana"><h3><b>Larkana Board</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                                   
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/mipurkhas"><img src="{% static 'images/boardimages/mirpurkhas-bise.png' %}"></a>
                                                   <a href="/boardresult/mipurkhas"><h3><b>Mirpur Khas</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                                   
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/dikhan"><img src="{% static "images/boardimages/dikhan-bise.jpg" %}"></a>
                                                   <a href="/boardresult/dikhan"><h3><b>DI Khan Board</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                                   
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/kohat"><img src="{% static 'images/boardimages/kohat-bise.png' %}"></a>
                                                   <a href="/boardresult/kohat"><h3><b>Kohat Board</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                                   
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/sbte"><img src="{% static 'images/boardimages/sbte-bise.gif' %}"></a>
                                                   <a href="/boardresult/sbte"><h3><b>SBTE Board</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                                   
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/quetta"><img src="{% static 'images/boardimages/queta-bise.gif' %}"></a>
                                                   <a href="/boardresult/quetta"><h3><b>Quetta Board</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                                   
                                   <ul>
                                       <section>
                                           <div class="content">
                                               <header>
                                                   <a href="/boardresult/pec"><img src="{% static 'images/boardimages/pec.gif' %}"></a>
                                                   <a href="/boardresult/pec"><h3><b>PEC</b></h3></a>
                                               </header>
                                           </div>
                                       </section>         
                                   </ul>
                               </ol>
                           </div>
									</div>
                        
					</div>
				</div>
			</section>

        
        
		<!-- Footer -->
        {% include "footer.html" %}

		<!-- Scripts -->
		<script src="{% static "js/jquery.min.js" %}"></script>
		<script src="{% static "js/browser.min.js" %}"></script>
		<script src="{% static "js/breakpoints.min.js" %}"></script>
		<script src="{% static "js/util.js" %}"></script>
		<script src="{% static "js/main.js" %}"></script>

	</body>
    
    
    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }


        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
    
    
</html>