{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>PakResult.com</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
	<link rel="icon" href="{% static '/images/edupak/icon3.png' %}" style="width: 50%">
	<!-- Font -->
	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">
	
	
	<link href="{% static 'css/common-css/ionicons.css' %}" rel="stylesheet">
	
	
	<link rel="stylesheet" href="{% static 'css/common-css/jquery.classycountdown.css' %}" />
		
	<link href="{% static 'css/03-comming-soon/css/styles.css' %}" rel="stylesheet">
	
	<link href="{% static 'css/03-comming-soon/css/responsive.css' %}" rel="stylesheet">
	
</head>
<body>
	
	<div class="main-area center-text" style="background-image:url({% static 'css/03-comming-soon/css//countdown-3-1600x900.jpg' %});">
		
		<div class="display-table">
			<div class="display-table-cell">
				
				<h1 class="title font-white"><b>- Under Construction -</b></h1>
				<p class="desc font-white">This part of our website is currently being made.
					We Should be back shortly. Thank you for your patience.</p>
				
				<ul class="social-btn font-white">
					<li><a href="https://soroushsulehri.live/"  target="_blank">soroushsulehri.live </a></li>
					<li><a href="https://www.ahsandiyal.com"  target="_blank">&#8226; ahsandiyal.com &#8226;</a></li>
					<li><a href="https://ar.nadeem.pk"  target="_blank">ar.nadeem.pk </a></li>
				</ul><!-- social-btn -->
				
			</div><!-- display-table -->
		</div><!-- display-table-cell -->
	</div><!-- main-area -->
	
</body>
</html>