{% load static %}

<!DOCTYPE HTML>

<html>
	<head>
	<link rel="icon" href="{% static '/images/edupak/icon3.png' %}" style="width: 50%">
		<title>Contact Us</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>

        <link rel="stylesheet" href="{% static 'css/custom-written.css' %}" />
	</head>
    

    
	<body class="is-preload">


		<!-- Header -->
			<header id="header">
               <a class="logo" href="/home" style="font-family: Times New Roman, Times, serif; font-size: 22px">Pak Result.com</a>
				<nav>
					<a href="#menu" style="font-size: 18px">Menu</a>
				</nav>
			</header>

        
        
		<!-- Nav -->
		 {% include "navbar.html" %}

        
        
		<!-- Heading -->
			<div id="heading" >
				<h1 class="icon fa-phone" style="font-family: serif"> Contact Us</h1>
			</div>

        
        
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">
						<header>
                            <h2>Send Your Message Through</h2>
                            <hr>
                        </header>
						<p>Hi there,<br>You can reach us by typing your message in the <b>Contact Form</b> below<br><br>Or Email Us At: <b>info@pakresult.com</b></p>
                        
                        <hr>
                        <section id="cta" class="wrapper">
                            <h2 style="text-align: center">Contact Form</h2>
                        </section>  
                        <div class="containera">
                            <form id="contact_forum">
                                <div id="snackbar">MESSAGE SENT SUCCESSFULLY </div>

                                <label for="fname" style="text-align: center"><h3>First Name</h3></label>
                                <input type="text" id="fname" name="firstname" placeholder="Your name.." style="background-color: inherit" required>

                                <label for="lname" style="text-align: center"><h3>Last Name</h3></label>
                                <input type="text" id="lname" name="lastname" placeholder="Your last name.." style="background-color: inherit" required>

                                <label for="email" style="text-align: center"><h3>Email</h3></label>
                                <input type="email" id="email" name="email" placeholder="Your Email.." style="background-color: inherit" required>
                                
                                <label for="content" style="text-align: center"><h3>Message</h3></label>
                                <textarea id="content" name="content" placeholder="Your Message.." style="height:200px" style="background-color: inherit" required></textarea>
                                <input type="submit" value="Submit">
                            </form>
                        </div>
                        
						<hr />
					</div>
				</div>
			</section>
		<script src="{% static "js/jquery.min.js" %}"></script>

        <script>
                  function loading_on() {
        document.getElementById("overlay").style.display = "block";
    }

    function loading_off() {

        document.getElementById("overlay").style.display = "none";
    }
    $("#contact_forum").submit(function (e) {
        loading_on()
        e.preventDefault();
        $.ajax({
            type: 'POST',
            data: {
                fname: $("#fname").val(),
                lname: $("#lname").val(),
                email: $("#email").val(),
                content: $("#content").val(),

                csrfmiddlewaretoken: "{{ csrf_token }}",
                action: 'post'
            },
            success: function (data) {
                $("#fname").val("");
                $("#lname").val("");
                $("#email").val("");
                $("#content").val("");
                loading_off();
                 var x = document.getElementById("snackbar");

                x.className = "show";

                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);

            },
        });
        return false;
    });
        </script>
        
		<!-- Footer -->
        {% include "footer.html" %}

		<!-- Scripts -->
		<script src="{% static "js/jquery.min.js" %}"></script>
		<script src="{% static "js/browser.min.js" %}"></script>
		<script src="{% static "js/breakpoints.min.js" %}"></script>
		<script src="{% static "js/util.js" %}"></script>
		<script src="{% static "js/main.js" %}"></script>

	</body>
    
    
    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }


        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
    
    
</html>