{% load static %}
<!DOCTYPE HTML>

<html lang="en">
	<head>
        <link rel="icon" href="{% static '/images/edupak/icon3.png' %}" style="width: 50%">
        
		<title style="font-family:sans-serif">Pak Result | Merit Lists, Notes, Board / University Results, Pairing Schemes 2020</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="Latest Academic results 2020, Get up to date notes, pairing schemes, date sheets, View latest educational results of class 5th, 8th / Middle, 9th, 10th / Matric / SSC, BISE, Intermediate / HSSC / FA / FSc, BA." />
		<meta name="keywords" content="Pakresult, pakresult.com, Result, Matric, Intermediate, Notes, Pairing, Results, COVID, Coronavirus,result, results, results 2020, results pk, result pk, result online, 5th class result 2020, 8th class result 2020, 9th class result 2020, 10th class result 2020, matric result 2020, ssc result 2020, BISE result, hssc result 2020, intermediate result 2020, fa result 2020, fsc result 2020, ba result 2020, bsc result 2020, bba result 2020, BCom result 2020, bcs result 2020, ma result 2020, B.Ed result 2020, cca result 2020, mbbs result 2020, engineering result 2020, LLb result 2020, css exam result 2020, results, university, board, merit, notes, merit lists, mcat net, roll number, past papers " />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <link rel="stylesheet" href="{% static 'css/custom-written.css' %}" />
        <script data-ad-client="ca-pub-5180925195967969" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	</head>

    
    

<body class="is-preload">

	<!-- Header -->
		<header id="header">
               <a class="logo" href="/home" style="font-family: Times New Roman, Times, serif; font-size: 22px">Pak Result.com</a>

			<nav>
				<a href="#menu" style="font-size: 18px">Menu</a>
			</nav>
		</header>

	<!-- Nav -->
        {% include "navbar.html" %}

	<!-- Banner -->
		<section id="banner">
			<div class="inner">
				<h1><img src="{% static '/images/edupak/logo.png' %}" style="width: 65%" alt="Pak Result | Merit Lists, Notes, Results, Pairing Schemes"></h1>
				<p>Website is currently under maintenance, Thank you for your patience!</p>
                <a href="/meritcal" class="button primary">Merit Calculator</a>
				<a href="/boardresult" class="button">Board Result</a>
				<a href="/preperation" class="button primary">Notes</a>
				<a href="/prizebond" class="button">PrizeBond Check</a>
				<a href="/comingsoon" class="button primary">Merit Lists</a>
				
			</div>
			<video autoplay loop muted playsinline src="{% static 'images/banner.mp4' %}"></video>
		</section>

	<!-- Highlights -->
		<section class="wrapper">
            <div class="inner">
                <header class="special">
                    
                    <hr>
                    <h1>MAIN MENU</h1><hr>
                </header>


                <div class="highlights" style="background-color: #f8f8f8">
					<section>
						<div class="content">
							<header>
								<a href="/boardresult" class="icon fa-trophy"><span class="label">Icon</span></a>
								<a href="/boardresult"><h3><b>Board Result</b></h3></a>
                            </header>
							<p>Matric And Intermediate Annual And Supply Results For All Boards</p>
                        </div>
					</section>
                    

					<section>
						<div class="content">
							<header>
								<a href="/meritcal" class="icon fa-calculator"><span class="label">Icon</span></a>
								<a href="/meritcal"><h3><b>Merit Calculator</b></h3></a>
							</header>
							<p>Calculate Your Merit And Admission Chances For All Universities!</p>
						</div>
					</section>
                    

					<section>
						<div class="content">
							<header>
								<a href="/pairing" class="icon fa-qrcode"><span class="label">Icon</span></a>
								<a href="/pairing"><h3><b>Pairing Schemes</b></h3></a>
							</header>
							<p>Paper Pattern, Pairing Scheme & Chapter Weightages For Matric And Intermediate</p>
						</div>
					</section>
                    
					<section>
						<div class="content">
							<header>
								<a href="/datesheets" class="icon fa-calendar"><span class="label">Icon</span></a>
								<a href="/datesheets"><h3><b>Date Sheets</b></h3></a>
							</header>
							<p>All Board and University Exam and Entry Test Schedules</p>
						</div>
					</section>
                    
					<section>
						<div class="content">
							<header>
								<a href="/comingsoon" class="icon fa-newspaper-o"><span class="label">Icon</span></a>
								<a href="/comingsoon"><h3><b>Merit Lists</b></h3></a>
							</header>
							<p>Merit Lists of All Colleges And Universities </p>
						</div>
					</section>

					<section>
						<div class="content">
							<header>
								<a href="/preperation/entrytest" class="icon fa-line-chart"><span class="label">Icon</span></a>
								<a href="/preperation/entrytest"><h3><b>Entry Test Preparation</b></h3></a>
							</header>
							<p>Detailed Notes & Summary for ECAT, MCAT, NET and Other Entry Tests</p>
						</div>
					</section>

						<section>
						<div class="content">
							<header>
								<a href="/uniresult" class="icon fa-graduation-cap"><span class="label">Icon</span></a>
								<a href="/uniresult"><h3><b>University Result</b></h3></a>
							</header>
							<p>Results For Bachelors and Masters Of Universities</p>
						</div>
					</section>

					<section>
						<div class="content">
							<header>
								<a href="/preperation/matric-inter" class="icon fa-book"><span class="label">Icon</span></a>
								<a href="/preperation/matric-inter"><h3><b>Chapter Wise Notes </b></h3></a>
							</header>
							<p>Short, Long Questions and MCQ's Chapter Wise Made Notes For Matric And Inter</p>
						</div>
					</section>

					<section>
						<div class="content">
							<header>
								<a href="/comingsoon" class="icon fa-files-o"><span class="label">Icon</span></a>
								<a href="/comingsoon"><h3><b>Past Papers</b></h3></a>
							</header>
							<p>Past Papers Compiled From Last 5 Years For All Classes</p>
						</div>
					</section>
                    
					<section>
						<div class="content">
							<header>
								<a href="/prizebond/schedule" class="icon fa-dollar"><span class="label">Icon</span></a>
								<a href="/prizebond/schedule"><h3><b>Prize Bond Draw Schedule</b></h3></a>
							</header>
							<p>Latest Draw List Schedule 2020 and Winnings for All Prize Bonds</p>
						</div>
					</section>
                    
                    <section>
						<div class="content">
							<header>
								<a href="/prizebond" class="icon fa-money "><span class="label">Icon</span></a>
								<a href="/prizebond"><h3><b>Prize Bond List</b></h3></a>
							</header>
							<p>Check Prize Bond Results For 100, 200, 750, 1500, 7500, 15000, 25000, 40000 Bonds</p>
						</div>
					</section>
                    
                    <section>
						<div class="content">
							<header>
								<a href="/coronavirus" class="icon fa-medkit"><span class="label">Icon</span></a>
								<a href="/coronavirus"><h3><b>Coronavirus Live Stats</b></h3></a>
							</header>
							<p>Live COVID Stats, Deaths, Recovered Etc For Pakistan and The World</p>
						</div>
					</section>
                    
                    <section>
						<div class="content">
							<header>
								<a href="https://shop.pakresult.com/" class="icon fa-shopping-cart "><span class="label">Icon</span></a>
								<a href="https://shop.pakresult.com/"><h3><b>Visit Our Shop</b></h3></a>
							</header>
							<p>Custom Designed Hoodies, P-Caps and Much More! For Your University / College & Department!</p>
						</div>
					</section>
                    
					<section>
						<div class="content">
							<header>
								<a href="/about" class="icon fa-user"><span class="label">Icon</span></a>
								<a href="/about"><h3><b>About Us</b></h3></a>
							</header>
							<p>Meet the Team Behind This Project</p>
						</div>
					</section>

					<section>
						<div class="content">
							<header>
								<a href="/contact" class="icon fa-phone"><span class="label">Icon</span></a>
								<a href="/contact"><h3><b>Contact</b></h3></a>
							</header>
							<p>Email Us For Any Query, Error or Anything!</p>
						</div>
					</section>
				</div><hr>
                
			</div>
		</section>

	<!-- CTA -->
		<section id="cta" class="wrapper">
			<div class="inner">
				<h2>University Rankings</h2><hr>
				<br>
				<div class="table-wrapper">
					<table>
					<thead>
							<tr>
								<th style="text-align: center"><h4>Rankings</h4></th>
								<th style="text-align: center"><h4>Name Of Institution</h4></th>
								<th style="text-align: center"><h4>No.  Of Students</h4></th>
							</tr>
					</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>National University of Sciences And Technology (NUST)</td>
								<td>11,375</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Pakistan Institute of Engineering and Applied Sciences (PIEAS)</td>
								<td>1,000</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Quaid-i-Azam University</td>
								<td>15,094</td>
							</tr>
							<tr>
								<td>4</td>
								<td>Lahore University of Management Sciences (LUMS)</td>
								<td>4,156</td>
							</tr>
							<tr>
								<td>5</td>
								<td>COMSATS University Islamabad</td>
								<td>35,851</td>
							</tr>
							<tr>
								<td>6</td>
								<td>University of Engineering & Technology (UET) Lahore</td>
								<td>13,832</td>
							</tr>
							<tr>
								<td>7</td>
								<td>University of the Punjab</td>
								<td>27,907</td>
							</tr>
							<p>Source : <i>QS World Rankings 2021</i></p>
						</tbody>

					</table>
				</div>
			</div>
	</section>


		<script src="{% static "js/jquery.min.js" %}"></script>
		<script src="{% static "js/browser.min.js" %}"></script>
		<script src="{% static "js/breakpoints.min.js" %}"></script>
		<script src="{% static "js/util.js" %}"></script>
		<script src="{% static "js/main.js" %}"></script>
	<!-- Footer -->
    {% include "footer.html" %}
	<!-- Scripts -->




</body>
    
    
    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }


        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
    
    
</html>
