{% load static %}

<!DOCTYPE HTML>

<html>
	<head>
	<link rel="icon" href="{% static '/images/edupak/icon3.png' %}" style="width: 50%">
		<title>Merit Calculators</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <link rel="stylesheet" href="{% static 'css/custom-written.css' %}" />
	</head>
    
    

	<body class="is-preload">

		<!-- Header -->
			<header id="header">
               <a class="logo" href="/home" style="font-family: Times New Roman, Times, serif; font-size: 22px">Pak Result.com</a>
			
				<nav>
					<a href="#menu" style="font-size: 18px">Menu</a>
				</nav>
			</header>

        
        
		<!-- Nav -->
			 {% include "navbar.html" %}
		<!-- Heading -->
			<div id="heading" >
                <h1 class="icon fa-calculator" style="font-family: serif"> Merit Calculators</h1>
			</div>

        
        
		<!-- Main -->
        <section id="main" class="wrapper">
            <div class="inner">
                <div class="content" style="background-color: #f8f8f8">
                    <header>
                        <h2 style="text-align: center">Choose University</h2>
                        <hr>
                    </header>
                        
                        
                    <div class="highlights">
		  			

                        <section>
                            <div class="content">
                                <header>
                                    <a href="pieas"><img src="{% static '/images/uniimages/display/pieas_merit.jpg' %}"></a>
                                    <a href="pieas"><h3><b>PIEAS Calculator</b></h3></a>
                                </header>
                                <p>Pakistan Institue Of Engineering And Applied Sceinces</p>
                                <a class="button primary small" href="pieas">Calculate</a>
                            </div>
                        </section>

                        <section>
                            <div class="content">
                                <header>
                                    <a href="mdcat"><img src="{% static '/images/uniimages/display/mdcat_merit.jpg' %}"></a>
                                    <a href="mdcat"><h3><b>MDCAT Universities</b></h3></a>
                                    </header>
                                <p>All health Sciences Universities (MDCAT)</p>
                                <a class="button small" href="mdcat">Calculate</a>
                            </div>
                        </section>
                           
                        <section>
                            <div class="content">
                                <header>
                                     <a href="nust"><img src="{% static '/images/uniimages/display/nust_merit.jpg' %}"></a>
                                    <a href="nust"><h3><b>NUST Calculator</b></h3></a>
                                </header>
                                <p>National University Of Science And Technology</p>
                                <a class="button primary small" href="nust">Calculate</a>
                            </div>
                        </section>

                        <section>
                            <div class="content">
                                <header>
                                    <a href="uetlahore"><img src="{% static '/images/uniimages/display/uet-lahore_merit.jpg' %}"></a>
                                    <a href="uetlahore"><h3><b>UET Lahore Calculator</b></h3></a>
                                </header>
                                <p>University of Engineering and Technology</p>
                                <a class="button primary small" href="uetlahore">Calculate</a>
                            </div>
                        </section>

                        <section>
                            <div class="content">
                                <header>
                                    <a href="comsats"><img src="{% static '/images/uniimages/display/comsats_merit.jpg' %}"></a>
                                    <a href="comsats"><h3><b>COMSATS University Calculator</b></h3></a>
                                </header>
                                <p>COMSATS University</p>
                                <a class="button small" href="comsats">Calculate</a>
                            </div>
                        </section>

                        <section>
                            <div class="content">
                                <header>
                                    <a href="giki"><img src="{% static '/images/uniimages/display/giki_merit.jpg' %}"></a>
                                    <a href="giki"><h3><b>GIKI Calculator</b></h3></a>
                                </header>
                                <p>Ghulam Ishaq Khan Institute of Engineering and Technology</p>
                                <a class="button primary small" href="giki">Calculate</a>
                            </div>
                        </section>

                        <section>
                            <div class="content">
                                <header>
                                    <a href="fast"><img src="{% static '/images/uniimages/display/fast_merit.jpg' %}"></a>
                                    <a href="fast"><h3><b>FAST Calculator</b></h3></a>
                                </header>
                                <p>Foundation for Advancement of Science and Technology</p>
                                <a class="button primary small" href="fast">Calculate</a>
                            </div>
                        </section>
                        
                        <section>
                            <div class="content">
                                <header>
                                    <a href="gcu"><img src="{% static '/images/uniimages/display/gcu_merit.jpg' %}"></a>
                                    <a href="gcu"><h3><b>GCU Calculator</b></h3></a>
                                </header>
                                <p>Government College University, Lahore</p>
                                <a class="button small" href="gcu">Calculate</a>
                            </div>
                        </section>

                        <section>
                            <div class="content">
                                <header>
                                    <a href="pucit"><img src="{% static '/images/uniimages/display/pucit_merit.jpg' %}"></a>
                                    <a href="pucit"><h3><b>PUCIT Calculator</b></h3></a>
                                </header>
                                <p>Punjab University College of Information Technology</p>
                               <a class="button primary small" href="pucit">Calculate</a>
                            </div>
                        </section>

                        <section>
                            <div class="content">
                                <header>
                                    <a href="ist"><img src="{% static '/images/uniimages/display/ist_merit.jpg' %}"></a>
                                    <a href="ist"><h3><b>IST Calculator</b></h3></a>
                                </header>
                                <p>Institute of Space Technology, Islamabad</p>
                                <a class="button primary small" href="ist">Calculate</a>
                            </div>
                        </section>

                        <section>
                            <div class="content">
                                <header>
                                    <a href="iba"><img src="{% static '/images/uniimages/display/iba_merit.jpg' %}"></a>
                                    <a href="iba"><h3><b>IBA Calculator</b></h3></a>
                                    </header>
                                <p>Institute of Business Administration</p>
                                <a class="button small" href="iba">Calculate</a>
                            </div>
                        </section>

                        <section>
                            <div class="content">
                                <header>
                                    <a href="lums"><img src="{% static '/images/uniimages/display/lums_merit.jpg' %}"></a>
                                    <a href="lums"><h3><b>LUMS Calculator</b></h3></a>
                                </header>
                                <p>Lahore University of Management Sciences</p>
                                <a class="button primary small" href="lums">Calculate</a>
                            </div>
                        </section>
                           
                        <section>
                            <div class="content">
                                <header>
                                    <a href="ntu"><img src="{% static '/images/uniimages/display/ntu_merit.jpg' %}"></a>
                                    <a href="ntu"><h3><b>NTU Calculator</b></h3></a>
                                </header>
                                <p>National Textile University</p>
                                <a class="button primary small" href="ntu">Calculate</a>
                            </div>
                        </section>
                           
                        <section>
                            <div class="content">
                                <header>
                                    <a href="bzu"><img src="{% static '/images/uniimages/display/bzu_merit.jpg' %}"></a>
                                    <a href="bzu"><h3><b>BZU Calculator</b></h3></a>
                                </header>
                                <p>Bahauddin Zakariya University</p>
                                <a class="button small" href="bzu">Calculate</a>
                            </div>
                        </section>
                           
                        <section>
                            <div class="content">
                                <header>
                                    <a href="air"><img src="{% static '/images/uniimages/display/air_merit.jpg' %}"></a>
                                    <a href="air"><h3><b>AIR Calculator</b></h3></a>
                                </header>
                                <p>Air University Islamabad</p>
                                <a class="button primary small" href="air">Calculate</a>
                            </div>
                        </section>
                        
                        <section>
                            <div class="content">
                                <header>
                                    <a href="uetpeshawar"><img src="{% static '/images/uniimages/display/uet-peshawar_merit.jpg' %}"></a>
                                    <a href="uetpeshawar"><h3><b>UET Peshawar Calculator</b></h3></a>
                                </header>
                                <p>University of Engineering & Technology, Peshawar</p>
                                <a class="button primary small" href="uetpeshawar">Calculate</a>
                            </div>
                        </section>
                        
                        <section>
                            <div class="content">
                                <header>
                                    
                                </header>
                            </div>
                        </section>
                        
                        <section>
                            <div class="content">
                                <header>
                                    <a href="qau"><img src="{% static '/images/uniimages/display/qau_merit.jpg' %}"></a>
                                    <a href="qau"><h3><b>QAU Calculator</b></h3></a>
                                </header>
                                <p>Quaid e Azam University Islamabad</p>
                                <a class="button primary small" href="qau">Calculate</a>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>

        
        
		<!-- Footer -->
        {% include "footer.html" %}

		<!-- Scripts -->
		<script src="{% static "js/jquery.min.js" %}"></script>
		<script src="{% static "js/browser.min.js" %}"></script>
		<script src="{% static "js/breakpoints.min.js" %}"></script>
		<script src="{% static "js/util.js" %}"></script>
		<script src="{% static "js/main.js" %}"></script>

	</body>
    
    
    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }


        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
    
    
</html>